{{> banner}}

<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner" id="cart-body">
            {{#with cart}}
            {{#if items.length}}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each items}}
                        <tr id="item{{item.id}}">
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="/img/products/{{item.imageCover}}" alt="{{item.name}}" style="width: 30%; height=auto;">
                                    </div>
                                    <div class="media-body">
                                        <p style="width:300px">{{item.name}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>${{item.price}}</h5>
                            </td>
                            <td>
                                <div class="product_count">
                                    <input type="text" name="qty" id="sst{{item.id}}" maxlength="12"
                                        value="{{quantity}}" title="Quantity:" class="input-text qty" readonly>
                                    <button
                                        onclick="var result = document.getElementById('sst{{item.id}}'); var sst = result.value; if( !isNaN( sst )) result.value++; updateCart('{{item.id}}', result.value); return false;"
                                        class="increase items-count" type="button" \>
                                        <i class="lnr lnr-chevron-up"></i>
                                    </button>
                                    <button class="reduced items-count" type="button"
                                        onclick="var result = document.getElementById('sst{{item.id }}'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst>1 ||(sst == 1)&amp;&amp; confirm('Do you really want to remove this item?')  ) result.value--; updateCart('{{item.id}}', result.value); return false;"><i
                                            class="lnr lnr-chevron-down"></i></button>
                                </div>
                            </td>
                            <td>
                                <h5 id="price{{item.id}}">${{price}}</h5>
                            </td>
                        </tr>
                        {{/each}}
                        <tr class="bottom_button">
                            <td>
                                <a class="button text-white bg-danger" onclick="clearCart()">Clear Cart</a>
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                
                            </td>
                        </tr>
                        <tr>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <h4>Total</h4>
                            </td>
                            <td>
                                <h5 id="totalPrice">${{totalPrice}}</h5>
                            </td>
                        </tr>
                        <tr class="shipping_area">
                            <td class="d-none d-md-block">

                            </td>
                            <td>

                            </td>
                            <td>
                                
                            </td>
                            <td>
                                {{!-- <div class="shipping_box">
                                    <h6>Shipping <i class="fa fa-caret-down" aria-hidden="true"></i></h6>
                                    <select class="shipping_select">
                                        <option value=2>Local Delivery: $2.00</option>
                                        <option value=3>Flat Rate: $10.00</option>
                                    </select>                                 
                                </div> --}}
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td></td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center ">
                                    <a class="btn btn-outline-secondary" href="/products" role="button" style='margin-right: 30px;'>Back to shop</a>
                                    {{#if ../user}}
                                        <a class="btn btn-outline-info" href="/cart/tracking-order" role="button" style='margin-left: 30px;'>Process to checkout</a>
                                    {{else}}
                                        <a class="btn btn-outline-info" href="/login?returnURL=/cart/tracking-order" role="button" style='margin-left: 30px;'>Login to checkout</a>
                                    {{/if}}
                                </div>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {{else}}
            <div class="alert alert-info text-center">Your cart is empty</div>
            {{/if}}
            {{/with}}
        </div>
    </div>
</section>
<!--================End Cart Area =================-->