{{> banner}}

<div class="container">
    <table class="table" style="margin-top:30px; margin-bottom:30px;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Address</th>
                <th scope="col">Total price</th>
                <th scope="col">Created at</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{this._id}}</td>
                <td>{{this.address}}</td>
                <td>$ {{this.cart.totalPrice}}</td>
                <td>{{this.createdAt}}</td>
                <td>{{this.status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>