{{> banner}}

<div class="container">
    <table class="table table-bordered" style="margin-top:30px; margin-bottom:30px;">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Address</th>
                <th scope="col">Total price</th>
                <th scope="col">Created at</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
            <tr>
                <td>{{this._id}}</td>
                <td>{{this.address}}</td>
                <td>$ {{this.cart.totalPrice}}</td>
                <td>{{formatDate 'MM/DD/YYYY' this.createdAt}}</td>
                {{#if (eq this.status "pending")}}
                    <td><span class="badge badge-warning">{{this.status}}</span></td>
                {{/if}}
                 {{#if (eq this.status "cannceled")}}
                    <td><span class="badge badge-danger">{{this.status}}</span></td>
                {{/if}}
                {{#if (eq this.status "completed")}}
                    <td><span class="badge badge-canceled">{{this.status}}</span></td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>