{{> banner}}
<!--================Order Details Area =================-->

<section class="order_details section-margin--small">
	<div class="container">
		<p class="text-center billing-alert">Thank you. Your order has been received.</p>
			<div class="order_details_table">
				<h2>Order Details</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Quantity</th>
								<th scope="col">Total</th>
							</tr>
						</thead>
						{{#with cart}}
						<tbody>

							{{#each items}}
							<tr>
								<td>
									<p>{{item.name}}</p>
								</td>
								<td>
									<h5>x {{quantity}}</h5>
								</td>
								<td>
									<p>${{price}}</p>
								</td>
							</tr>
							{{/each}}
							<tr>
								<td>
									<h4>Total</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<h4>${{totalPrice}}</h4>
								</td>
							</tr>

						</tbody>
						{{/with}}
					</table>
				</div>
			</div>
			<form style="margin-top:30px" class="tracking_form" action="/cart/tracking-order" method="post">
				<div class="form-group">
					<label for="address">Address</label>
					<input type="text" class="form-control" id="address" name="address" value="{{user.address}}">
				</div>
				<div class="form-group">
					<label for="phone">Phone</label>
					<input type="text" class="form-control" id="phone" name="phone" value="{{user.phone}}">
				</div>
				<div class="form-group">
					<button type="submit" value="submit" class="button button-tracking">Send</button>
				</div>
			</form>
			{{!-- <div class="form-group">
				<label for="address">Address</label>
				<input type="text" class="form-control" id="address" value="{{../user.address}}">

			</div>
			<div class="form-group">
				<label for="phone">Phone number</label>
				<input type="tel" class="form-control" id="exampleInputEmail1" value="{{../user.phone}}">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary" value="submit">Submit</button>
			</div> --}}
	</div>
	
</section>
<!--================End Order Details Area =================-->