{{> banner}}

<!--================User Profile Area =================-->
<section class="tracking_box_area section-margin--small">
	<div class="container">
		{{#if type}}
		  <div class="alert alert-success" role="alert">
  			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  			<strong>Success!</strong> Update profile successfully!
		</div>
		{{/if}}
		<div class="tracking_box_inner">
			<form class="row tracking_form" action="/account" method="post" novalidate="novalidate">
				<div class="col-md-12 form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="email" name="email" placeholder="{{user.email}}" disabled>
				</div>
				<div class="col-md-12 form-group">
					<label for="exampleInputEmail1"> Name</label>
					<input type="text" class="form-control" id="name" name="name" placeholder="{{user.name}}"
						onfocus="this.placeholder = ''" onblur="this.placeholder = '{{user.name}}'">
				</div>
				<div class="col-md-12 form-group">
					<label for="exampleInputEmail1"> Phone number</label>
					<input type="tel" class="form-control" id="phone" name="phone" placeholder="{{user.phone}}"
						onfocus="this.placeholder = ''" onblur="this.placeholder = '{{user.phone}}'">
				</div>
				<div class="col-md-12 form-group">
					<label for="exampleInputEmail1"> Address</label>
					<input type="text" class="form-control" id="address" name="address" placeholder="{{user.address}}"
						onfocus="this.placeholder = ''" onblur="this.placeholder = '{{user.address}}'">
				</div>
				<div class="col-md-12 form-group">
					<button type="submit" value="submit" class="button button-tracking">Update</button>
				</div>
			</form>
		</div>
	</div>
</section>
<!--================End User Profile Area =================-->

<script>
	window.setTimeout(function() {
		$(".alert").fadeTo(500, 0).slideUp(500, function(){
			$(this).remove(); 
		});
	}, 2000);
</script>